* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.action__button {
  padding: 8px 20px;
  background: orange;
  border: none;
  border-radius: 0;
  color: white;
}

li a {
  color: black !important;
}

li a:hover {
  color: orange !important;
}

li .active {
  color: orange !important;
}

.home__row {
  margin: 30px 0;
}

.hero_section {
  margin: 50px auto;
}

.hero_section .left__content {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_section .left__content .main_content {
  margin: 0 !important;
}

.hero_section .left__content .main_content .profile {
  color: orange;
  position: relative;
}

.hero_section .left__content .main_content h1 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
}

.hero_section .left__content .main_content .content {
  color: #bdc7c9;
  font-weight: 500;
}

.hero_section .left__content .main_content .hire_me {
  padding: 8px 20px;
  background: white;
  border: 2px solid orange;
  color: orange;
  border-radius: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero_section .left__content .main_content .hire_me:hover {
  background: orange;
  color: white;
}

.hero_section .left__content .main_content hr {
  margin-top: 40px;
}

.hero_section .left__content .main_content .quotes {
  color: #bdc7c9;
  font-size: 0.8rem;
}

.hero_section .right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_section .right__content .profile {
  color: orange;
  position: relative;
}

.hero_section .right__content a {
  color: orange;
}

.portfolio__div {
  margin-bottom: 80px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__div .portfolio_row2 {
  margin-top: 80px;
}

.portfolio__div .portfolio_row2 .portfolio_col2 {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 !important;
}

.portfolio__div .portfolio_row2 .portfolio_col2 .promise__content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin: 45px auto;
}

.portfolio__div .portfolio_row2 .portfolio_col2 .promise__content .inner__row {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: orangered;
}

.portfolio__div .portfolio_row2 .portfolio_col2 .promise__content .inner__row .number {
  text-align: center;
  color: white;
}

.portfolio__div .portfolio_row2 .portfolio_col2 .working__experience {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio__div .portfolio_row2 .portfolio_col2 .working__experience .col_size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio__div .portfolio_row2 .portfolio_col2 .working__experience .col_size .numbers {
  width: 80px;
}

.portfolio__div .portfolio_row2 .portfolio_col2 .working__experience .col_size h1 {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio__div .portfolio_row2 .portfolio_col2 .working__experience .col_size p {
  text-align: left;
  margin: 0 !important;
  padding: 0 !important;
}

.services {
  padding: 80px 0;
}

.services h1 {
  text-align: center;
}

.services .card-body:hover i {
  opacity: 1;
}

.services .card-body i {
  color: white;
  padding: 1rem;
  font-size: 1rem;
  background: orangered;
  margin: 10px;
  opacity: 0.5;
}

.services .card-body h5 {
  font-weight: bold;
}

.services .card-body .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_div {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

.footer_div img {
  margin-bottom: 50px;
}

.footer_div h1 {
  font-weight: bolder;
  font-size: 2.5rem;
}

.footer_div p {
  font-size: 1rem;
  color: grey;
  margin: 20px 0;
}

.footer_div i {
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 50%;
}

.footer_div .fa-facebook {
  color: blue;
}

.footer_div .fa-twitter {
  color: aqua;
}

.footer_div .fa-instagram {
  color: palevioletred;
}

.footer_div .fa-youtube {
  color: red;
}

@media screen and (max-width: 992px) {
  .left__content h1 {
    font-size: 2.5rem !important;
  }
  .left__content p {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 768px) {
  .main_content {
    text-align: center;
  }
  .right__content {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */