@import "mixins";
@import "variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.action__button {
  @include btn;
}
li {
  a {
    color: black !important;
    &:hover {
      color: orange !important;
    }
  }
  .active {
    color: orange !important;
  }
}
.home__row {
  margin: 30px 0;
}
.hero_section {
  margin: 50px auto;
  .left__content {
    padding: 20px 0;
    display: flex;
    // margin: 0 !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .main_content {
      margin: 0 !important;
      .profile {
        color: orange;
        position: relative;
      }
      h1 {
        font-family: sans-serif;
        font-weight: 700;
        font-size: 3.8rem;
      }
      .content {
        color: $grey-text;
        font-weight: 500;
      }
      .hire_me {
        @include outline-btn;
        &:hover {
          @include outline-hover;
        }
      }
      hr {
        margin-top: 40px;
      }
      .quotes {
        color: $grey-text;
        font-size: 0.8rem;
      }
    }
  }
  .right__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .profile {
      color: orange;
      position: relative;
    }
    a {
      color: orange;
    }
  }
}
.portfolio__div {
  margin-bottom: 80px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .portfolio_row2 {
    margin-top: 80px;
  }
  .portfolio_col2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.footer_div {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 50px 0;
  img {
    margin-bottom: 50px;
  }
  h1 {
    font-weight: bolder;
    font-size: 2.5rem;
  }
  p {
    font-size: 1rem;
    color: grey;
    margin: 20px 0;
  }
  i {
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 50%;
  }
  .fa-facebook {
    color: blue;
  }
  .fa-twitter {
    color: aqua;
  }
  .fa-instagram {
    color: palevioletred;
  }
  .fa-youtube {
    color: red;
  }
}

@media screen and (max-width: 992px) {
  .left__content {
    h1 {
      font-size: 2.5rem !important;
    }
    p {
      font-size: 0.8rem !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .main_content {
    text-align: center;
  }
  .right__content {
    text-align: center;
  }
}
