@import "mixins";
@import "variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.action__button {
  @include btn;
}
li {
  a {
    color: black !important;
    &:hover {
      color: orange !important;
    }
  }
  .active {
    color: orange !important;
  }
}
.home__row {
  margin: 30px 0;
}
.hero_section {
  margin: 50px auto;
  .left__content {
    padding: 20px 0;
    display: flex;
    // margin: 0 !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .main_content {
      margin: 0 !important;
      .profile {
        color: orange;
        position: relative;
      }
      h1 {
        font-family: sans-serif;
        font-weight: 700;
        font-size: 3.8rem;
      }
      .content {
        color: $grey-text;
        font-weight: 500;
      }
      .hire_me {
        @include outline-btn;
        &:hover {
          @include outline-hover;
        }
      }
      hr {
        margin-top: 40px;
      }
      .quotes {
        color: $grey-text;
        font-size: 0.8rem;
      }
    }
  }
  .right__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .profile {
      color: orange;
      position: relative;
    }
    a {
      color: orange;
    }
  }
}
.portfolio__div {
  margin-bottom: 80px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #portfolio {
    h1 {
      text-align: center;
    }
  }
  .portfolio_row2 {
    margin-top: 80px;
    .portfolio_col2 {
      // background: lightgrey;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: column;
      margin: 0 !important;
      .promise__content {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 45px auto;
        .inner__row {
          margin-top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          background: orangered;
          .number {
            text-align: center;
            color: white;
          }
        }
      }
      .working__experience {
        .col_size {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;
          text-align: center;
          .child {
            width: 80px;
            &:nth-child(odd) {
              font-size: 1.5rem;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
// Services

.services {
  padding: 40px 0;
  margin-bottom: 50px;
  background: $light-bg;
  h1 {
    text-align: center;
    padding: 40px;
  }
  .card {
    border: none;
  }
  .card-body {
    padding: 50px;
    &:hover .card-icon .card_icons {
      background: orange;
      color: white;
    }
    p {
      margin: 25px 0;
    }
    .card-icon {
      display: flex;
      align-items: center;
      margin: 0 !important;
      padding: 0 !important;
      h3 {
        font-weight: bold;
        text-align: left;
        margin-left: 30px;
        font-size: 1.5rem;
      }
      .card_icons {
        color: orangered;
        font-size: 1.5rem;
        background: #ffdfaf;
        transition: 0.5s;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .arrow_btn i {
      @include arrow-btn;
    }
  }
}

// Blogs & News

#news {
  padding: 40px 0;
  .container {
    background: $light-bg;
    padding: 40px 0;
  }
  h1 {
    padding: 40px;
    text-align: center;
    font-weight: bold;
  }
  .card {
    border: none;
  }
  .card-title {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    i {
      color: orange;
      font-weight: normal;
      span {
        color: $grey-text;
        font-size: 1.2rem;
      }
    }
  }
  .card-text {
    margin: 25px 0px;
  }
}

// Contact Us

#contact {
  padding: 40px 0;
  .container {
    padding: 40px 0;
    // background: #000;
    h1 {
      padding-bottom: 40px;
      text-align: center;
      font-weight: bold;
      // color: white;
    }
    .col-md-6 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      h1 {
        text-align: left;
        padding: 0;
      }
      .call-btn {
        @include btn;
        width: 150px;
      }
    }
    .contact-form {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $light-bg;
      padding: 25px;
      margin-top: 35px;
      background: #000;
      color: white;
      h1 {
        padding: 10px;
      }
    }
  }
}

// Footer
.footer_div {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 50px 0;
  img {
    margin-bottom: 50px;
  }
  h1 {
    font-weight: bolder;
    font-size: 2.5rem;
  }
  p {
    font-size: 1rem;
    color: grey;
    margin: 20px 0;
  }
  i {
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 50%;
  }
  .fa-facebook {
    color: blue;
  }
  .fa-twitter {
    color: aqua;
  }
  .fa-instagram {
    color: palevioletred;
  }
  .fa-youtube {
    color: red;
  }
}

// Copyright
.copyright {
  display: grid;
  place-items: center;
  padding: 25px;
  p {
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
  }
}
@media screen and (max-width: 992px) {
  .left__content {
    h1 {
      font-size: 2.5rem !important;
    }
    p {
      font-size: 0.8rem !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .main_content {
    text-align: center;
  }
  .right__content {
    text-align: center;
  }
  .portfolio_col2 {
    text-align: center;
    .promise__content {
      text-align: center;
    }
  }
}
@media screen and (max-width: 576px) {
  .portfolio__div {
    .portfolio_col2 {
      .working__experience {
        .col_size {
          display: block !important;
          .child {
            padding: 10px 0px;
          }
        }
      }
    }
  }
}
